@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using JokesApp.Store.Jokes

@if (State.Value.PastJokes.Count > 0)
{
<div class="card mt-2">
    <div class="card-header d-flex flex-row align-items-center">
        <div class="flex-fill">Past Jokes</div>
    </div>
    <div class="card-body">
        <ul>
            @foreach (var joke in State.Value.PastJokes)
            {
                <li>@joke</li>
            }
        </ul>
    </div>
</div>
}

@code {
    [Inject]
    private IState<JokesState> State { get; set; }
}
